/Biblioteca/build/
/Biblioteca siguiendo los videos/Biblioteca2Videos/nbproject/private/
/Biblioteca siguiendo los videos/Biblioteca2Videos/build/
/PMDM-main/PMDM-main/Biblioteca/nbproject/private/
/Biblioteca/dist/
PMDM-ProgramacionMultimediaYDispositivosMoviles\Biblioteca\web\resources\pdfs.rar